.ui.warning.message {
    position: relative;
    top: 5rem;
    box-shadow: none;
    width: 75%;
    margin-left: 12.5%;
}

.ui.success.message {
    position: relative;
    top: 5rem;
    box-shadow: none;
    width: 75%;
    margin-left: 12.5%;
}

.ui.negative.message {
    position: relative;
    top: 5rem;
    box-shadow: none;
    width: 75%;
    margin-left: 12.5%;
}
